<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto mt-4">
                <div class="row">
                    <div class="col-md-6 col-11 mx-auto login-formdiv">
                        <img src="images/avatar.png" alt="profile-img">
                        <form action="/login" method="POST">
                          <div class="mb-3">
                             <label  for="email" class="form-label">Email address</label>
                             <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter email" name="email" value="">
                           </div>
                           <div class="mb-3">
                             <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="enter password" name="password" value="">
                           </div>
                           <input type="submit" class="btn btn-outline-primary" value="Login">
                        </form>
                    </div>
                    <div class="col-md-6 col-11 mx-auto login-img">
                        <img src="images/signup.png" alt="signup-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>